beautifulsoup4==4.6.0
blinker==1.3
chardet==2.3.0
Click==7.0
cloud-init==0.7.9
coderedcms==0.16.3
configobj==5.0.6
cryptography==1.7.1
decorator==4.4.0
Django==2.2.6
django-bootstrap4==1.0.1
django-eventtools==0.9.11
django-modelcluster==4.4
django-taggit==0.24.0
django-treebeard==4.3
djangorestframework==3.10.3
draftjs-exporter==2.1.7
future==0.18.0
geocoder==1.38.1
gunicorn==19.9.0
html5lib==1.0.1
icalendar==4.0.3
idna==2.2
Jinja2==2.8
jsonpatch==1.10
jsonpointer==1.10
keyring==10.1
keyrings.alt==1.3
MarkupSafe==0.23
oauthlib==2.0.1
Pillow==6.2.0
prettytable==0.7.2
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
PyJWT==1.4.2
python-dateutil==2.8.0
pytz==2019.3
pyxdg==0.25
PyYAML==3.12
ratelim==0.1.6
requests==2.12.4
SecretStorage==2.3.1
six==1.12.0
sqlparse==0.3.0
ufw==0.35
Unidecode==1.1.1
urllib3==1.19.1
virtualenv==15.1.0
wagtail==2.7.2
wagtail-cache==0.5.2
wagtail-import-export==0.2
wagtailfontawesome==1.1.4
webencodings==0.5.1
Willow==1.1
